@import '../../colors.scss';

.exp-card{
    &--container{
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
    }
    &--wrapper{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        width: 100%;
        margin: 1em;
        padding: 1em;
    }
    &--image{
        width: 100%;
    }
    &--title{
        font-size: 1.5em;
    }
    &--subtitle{
        color:rgb(108, 117, 125);
    }
    &--bar{
        height: 2px;
        color: $green;
        background-color: $green;
        width: 40%;
        text-align: left;
        margin-bottom: 1em;
        margin-left: 0;
    }
    &--description{
        margin-bottom: 1em;
    }
}
@media only screen and (min-width: 768px) {
    .exp-card{
        &--container{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        &--wrapper{
            flex: 3;
        }
    }
}