.presentation{
    &--container{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &--text-wrapper{
        width: 80%;
        h1,h2{
            font-weight: 300;
        }
    }
    &--logos-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}